@media (min-width: 481px) {
header{
    
    text-align: center; 
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 98, 0);
    text-shadow: 7px 2px 4px #000000;
    border-radius: 20px;
    position: relative;
    top: -70px;
}
h1{
    font-family: "UnifrakturMaguntia", cursive;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 50px;
    margin: 70px;
    margin-top: -80px;
    height: 10px;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-shadow: 5px 1px 3px #000000;
    background-color: rgb(116, 66, 1);
}
a.hover{
    color: black;
    text-decoration: none;
}
body{
    background-image: url("./images/bg.jpg");
    background-repeat: 2;
    background-size: cover;
}
}
