body{
    background-image: url("../images/bg4.jpg");   
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.subscribe-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.subscribe-container h2 {
    margin-bottom: 20px;
}

.subscribe-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.subscribe-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.subscribe-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #d76b00;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
}

.subscribe-container input[type="submit"]:hover {
    background-color: #ffd7cb;
}

#error-msg {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
